In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('training_set.csv')
df.head()

,HAEMATOCRIT,HAEMOGLOBINS,ERYTHROCYTE,LEUCOCYTE,THROMBOCYTE,MCH,MCHC,MCV,AGE,SEX,SOURCE
0,33.8,11.1,4.18,4.6,150,26.6,32.8,80.9,33,F,1
1,44.6,14.0,6.86,6.3,232,20.4,31.4,65.0,36,M,0
2,42.9,14.0,4.57,6.2,336,30.6,32.6,93.9,70,F,0
3,41.9,14.4,4.67,3.5,276,30.8,34.4,89.7,18,F,0
4,40.6,13.3,4.85,14.9,711,27.4,32.8,83.7,36,M,0

In [3]:
df.shape

(3309, 11)

In [4]:
df.isnull().sum()

HAEMATOCRIT     0
HAEMOGLOBINS    0
ERYTHROCYTE     0
LEUCOCYTE       0
THROMBOCYTE     0
MCH             0
MCHC            0
MCV             0
AGE             0
SEX             0
SOURCE          0
dtype: int64

In [7]:
X = df.drop('SOURCE',axis=1)
y = df.SOURCE

In [8]:
def fun(df):
    if df=='Male':
        return 0
    else:
        return 1
X.SEX = X.SEX.apply(fun)

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [10]:
X_train.head()

,HAEMATOCRIT,HAEMOGLOBINS,ERYTHROCYTE,LEUCOCYTE,THROMBOCYTE,MCH,MCHC,MCV,AGE,SEX
96,29.1,9.9,3.12,6.7,94,31.7,34.0,93.3,45,1
2328,29.3,10.2,3.63,5.0,94,28.1,34.8,80.7,59,1
1866,31.0,10.1,5.05,17.1,424,20.0,32.6,61.4,45,1
1264,33.3,11.4,3.59,15.9,150,31.8,34.2,92.8,57,1
93,46.4,15.4,5.45,10.6,344,28.3,33.2,85.1,60,1

In [12]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
X_train = scalar.fit_transform(X_train)
X_test  = scalar.transform(X_test)

In [24]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
models = {
    SVC():"Support Vector Machine",
    RandomForestClassifier():'Random Forest',
    LogisticRegression(max_iter=3000):'Logistic Regression'
}
for m in models.keys():
    m.fit(X_train,y_train)
for model,name in models.items():
     print(f"Accuracy Score for {name} is : ",model.score(X_test,y_test)*100,"%")

Accuracy Score for Support Vector Machine is :  76.32850241545893 %
Accuracy Score for Random Forest is :  75.72463768115942 %
Accuracy Score for Logistic Regression is :  72.10144927536231 %