In [417]:
import pandas as pd

In [418]:
df = pd.read_csv('training_set.csv')
df.head()

,HAEMATOCRIT,HAEMOGLOBINS,ERYTHROCYTE,LEUCOCYTE,THROMBOCYTE,MCH,MCHC,MCV,AGE,SEX,SOURCE
0,33.8,11.1,4.18,4.6,150,26.6,32.8,80.9,33,F,1
1,44.6,14.0,6.86,6.3,232,20.4,31.4,65.0,36,M,0
2,42.9,14.0,4.57,6.2,336,30.6,32.6,93.9,70,F,0
3,41.9,14.4,4.67,3.5,276,30.8,34.4,89.7,18,F,0
4,40.6,13.3,4.85,14.9,711,27.4,32.8,83.7,36,M,0

In [419]:
df.shape

(3309, 11)

In [420]:
df.isnull().sum()

HAEMATOCRIT     0
HAEMOGLOBINS    0
ERYTHROCYTE     0
LEUCOCYTE       0
THROMBOCYTE     0
MCH             0
MCHC            0
MCV             0
AGE             0
SEX             0
SOURCE          0
dtype: int64

In [421]:
X = df.drop('SOURCE',axis=1)
y = df.SOURCE

In [422]:
def fun(df):
    if df=='Male':
        return 0
    else:
        return 1
X.SEX = X.SEX.apply(fun)

In [423]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=11)

In [424]:
X_train.head()

,HAEMATOCRIT,HAEMOGLOBINS,ERYTHROCYTE,LEUCOCYTE,THROMBOCYTE,MCH,MCHC,MCV,AGE,SEX
1822,24.4,7.4,3.06,7.3,247,24.2,30.3,79.7,37,1
2363,43.4,15.6,5.40,7.2,284,28.9,35.9,80.4,11,1
2285,40.8,13.7,5.49,14.9,506,25.0,33.6,74.3,21,1
83,30.6,10.2,3.95,6.0,94,25.8,33.3,77.5,8,1
1254,23.5,8.0,2.76,4.0,60,29.0,34.0,85.1,60,1

In [425]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
X_train = scalar.fit_transform(X_train)
X_test  = scalar.transform(X_test)

In [426]:
from sklearn.svm import SVC
from sklearn.metrics import classification_report,f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
models = {
    LogisticRegression(max_iter=500):'Logistic Regression',
    SVC():"Support Vector Machine",
    RandomForestClassifier():'Random Forest'
}
for m in models.keys():
    m.fit(X_train,y_train)
for model,name in models.items():
     print(f"Accuracy Score for {name} is : ",model.score(X_test,y_test)*100,"%")

Accuracy Score for Logistic Regression is :  73.71601208459214 %
Accuracy Score for Support Vector Machine is :  75.52870090634441 %
Accuracy Score for Random Forest is :  76.43504531722054 %

In [427]:
sv = RandomForestClassifier(n_estimators=200,
min_samples_split= 2,
 min_samples_leaf= 2,
max_features= 'auto',
max_depth= 70,
bootstrap= True)
sv.fit(X_train,y_train)
sv.score(X_test,y_test)

0.7854984894259819

In [428]:
pred = sv.predict(X_test)
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.78      0.88      0.83       192
           1       0.80      0.65      0.72       139

    accuracy                           0.79       331
   macro avg       0.79      0.77      0.77       331
weighted avg       0.79      0.79      0.78       331